.page {
  --background: #fafafa;
  --foreground: #fff;
  --three: #909090;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

/* Header */
.header {
  width: 100%;
  padding: 24px 0;
  background-color: var(--three);
}
.headerContainer {
  padding: 0 60px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.headerCart {
}
.headerCartIcon {
}
.headerCartState {
}

/* Main Content */
.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 60px;
}

/* Product Card */
.productCard {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  max-width: 750px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.productImage {
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.productBrand {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0.5rem;
  background-color: var(--button-secondary-hover);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.productTitle {
  margin: 0.5rem;
}
.productDescription {
  margin: 0.5rem;
  color: var(--text-secondary);
}
.productPriceSection {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 4px;
  background-color: var(--foreground);
}
.productPrice {
  font-size: large;
}
.productPriceDiscount {
  text-decoration: line-through;
  color: red;
}
.productButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(0, 214, 0);
  padding: 0.5rem;
  border: none;
  color: #fff;
  border-radius: 4px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.productButton:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
